{
  "presets": ["next/babel", "@babel/preset-typescript"],
  "plugins": ["@babel/plugin-proposal-optional-chaining",
    [
      "emotion",
      {
        // sourceMap is on by default but source maps are dead code eliminated in production
        "sourceMap": true,
        "autoLabel": true,
        "labelFormat": "[local]",
        "cssPropOptimization": true
      }
    ],
    [
      "module-resolver",
      {
        "root": ["."],
        "alias": {
          "shared": "./shared",
          "theme": "./theme"
        }
      }
    ]
  ]
}
